h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: #008000;
}

.ol-style {
   color: black;
   text-align: center;
   list-style-type: upper-roman;
}

.p-style {
   color: brown;
   text-align: right;
}